:root {
    --silver: #e6e6e6;
    --gray: #424245;
    --white: #f5f5f7;
    --blue: #0066cc;

}

*{box-sizing: border-box;}




body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
    color: var(--gray);
    margin: 0;


}



.container {
    margin: 0 auto 0 auto;
    padding: 1.5rem 1rem 1.5rem 1rem;
    max-width: 1000px;
}



.navigatie {
    background: var(--gray);
}




.navigatie ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


}


.navigatie a {
    display: block;
    padding: 1rem;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

}

.navigatie li {
    flex: 1;
    border-right: 1px solid var(--silver);
}

.navigatie li:last-child {
    border-right: 0;

}

.navigatie a:hover {
    text-decoration: underline;

}

.logo img{
    height: 32px;
    display: block;
    margin: auto;

}
.productimg{
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
   
}


header h1{
    text-align: center;
    text-transform: uppercase;
}

header p{
    text-align: center;
}

.categorie{
    margin: 2rem 0 2rem 0;
}

.categorie h2{
    border-bottom: 2px solid var(--silver);
    text-transform: uppercase;
   
}

.productenrij{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product{
    flex: 0 0 32%;
    margin: 0 0 1rem 0;
    border: 1px solid var(--silver);
    padding: 1rem;
    background: var(--white);


}


.product a{
    display: block;
    padding: 0;
    text-align: center;
    margin: 0;
    text-decoration: none;
}